* {
	box-sizing: border-box;
}

body{font-family: 'roboto';    background-color: #e5e5e5;}

.menu{
    position: fixed;
    top: 0px; 
    left: 0px;
    background-color: #CF2B2B;
    height: 92px;
    width: 100%;    
    padding-left: 21px;    
    z-index: 1;
}

.logo{font-family: 'Righteous';font-weight: 400px;line-height: 55px; font-size: 44px;color: white;}
.bordao{font-weight: 400;font-size: 18px;line-height: 21px;color: white;}



.content{
    margin-top: 108px;
    margin-bottom: 108px;
}

.topico{font-family: 'Righteous'; font-size: 26px; font-weight: 400; line-height: 32px; color: #333333;margin: 15px 0px 15px 0px;}


.pedido{
    width: 100%;
    height: 92px; 
    background-color: #ffffff;
    position: fixed; 
    bottom: 0px; 
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pedido button {
    width: 88%;
    height: 60px;
    border-radius: 50px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    color: white;
    border: none;
    background-color: #32b723;
}
.pedido button[disabled] {
    background-color: #cbcbcb;
}


.opcoes{overflow-x: scroll; width: 100%;}
.opcao{background-color: white; width: 172px; height: 216px;box-shadow: px 0px 10px -4px rgba(0, 0, 0, 0.25);border-radius: 9px;margin: 10px;flex-shrink: 0;display: flex;flex-direction: column;justify-content: center; align-items: center;}
.opcao img{height: 87px;width: 144px; border-radius: 4px;}
.nome{font-size:16px;font-weight:700 ;line-height:19px ;color: #333333;margin-top: 8px;}
.descricao{font-size: 15px;font-weight: 300; color:#a6a6a6;line-height:18px;margin-top: 4px;}
.preco{font-family: 'Roboto';font-weight: 400;font-size: 16px;line-height: 19px;margin-top: 7px; display: flex; justify-content: space-between;align-items: center; width: 144px;}
.preco ion-icon{color: #32b723;font-size: 16px;}


.display-flex{
    display: flex;
}
.topico{margin-left:19px;}
.invisivel{display:none;}

.selecionado{border: 9px solid #32b72f}

.frente{position: fixed;top:0;left:0;z-index: 4}
.bonus_back{background-color: rgba(255,255,255,0.9);width:100%;height:100%;display: flex;justify-content: center;align-items: center;}
.bonus_box{width: 91%;background-color: #50D074;padding: 25px 25px 0px 25px;font-family: 'roboto';color: white;font-size: 22px;font-weight: 400;line-height: 26px;border-radius: 9px;box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);}
.bonus_box div{display: flex;}
.center{justify-content: center;}
.between{justify-content:space-between;}
.negrito{font-weight: 700;}
.margin_24{margin-bottom: 24px;}
.margin_13{margin-bottom: 13px;}
.bonus_confirm{width: 100%;background-color: white;color: #50D074;height: 50px;display: flex;align-items: center;border-radius: 26px;}
.bonus_cancela{width: 100%;height: 50px;display: flex;align-items: center;}